/* reset browser setting */
ul{
  list-style: none;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-padding-start: 0;
}

html{
  background-color: #f7edee;
  color: #4F4546;
  font-family: sans-serif;
}
p{
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

textarea{
  color: inherit;
  font-size: 12px;
}

textarea:focus{
  outline-color: white;
  border: 1px solid white
}

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

/* background */
.screen{
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  background-color: #f7edee;
  height: 100vh
}

/* chat view */
.chat-view{
  overflow: hidden;
  background-color: #fcfcfc;
  height: 90vh;
  width: 45vw;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(81, 6, 14, 0.2), 0 6px 20px 0 rgba(81, 6, 14, 0.19);
  flex-direction: column;
  justify-content: space-between;
  display: flex;
}

.chat-header{
  /* text-align: center; */
  background-color: #fff7f7;
  height: 50px;
  /* vertical-align: middle; */
}

.chat-receiver{
  display: flex;
  position: absolute;
  margin-top: 17px;
  margin-left: 20px;
  font-size: 14px;
}

.to{
  color: #d1bdbc;
}

.conversation-title{
  margin-left: 8px;
}

/* input bar */
.input-bar-container{
  overflow: hidden;
  border: 1px solid #f7edee;
  display: flex;
  height: 50px;
  justify-content: space-between;
}

.input-bar{
  width: 90%;
  border: none;
  resize: none;
  box-sizing: border-box;
  height: 40px;
  padding: 12px 20px;
}

.input-bar::placeholder{
  color: #d1bdbc;
  font-size: 11px;
}

.send-button{
  margin-top: 6px;
  margin-right: 15px;
  background-color: #A18684;
  height: 28px;
  width: 28px;
  display: block;
  border-radius: 15px;
}

.send-button :hover{
  cursor: pointer;
}

.fa-paper-plane{
  margin-top: 23%;
  margin-left: 23%;
  color: #fcfcfc;
  font-size: 14px;
}

/* message */

.messages-ul{
  /* margin-top: 10px; */
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-y:auto;
}


.message-box{
  display: flex;
  max-width: 80%;
  margin-top: 5px;
}

.message-container{
  width: 100%;
}

.left{
  float: left;
  flex-direction: row;
  margin-left: 20px;
}


.right{
  float: right;
  /* flex-direction: column; */
  margin-right: 20px;
  align-self: flex-end;
}

.profile-pic, .empty-profile-pic{
  display: block;
  height: 25px;
  width: 25px;
  border-radius: 15px;
  margin-right: 10px;
}

.left-bubble{
  display: block;
  min-height: 37px;
  max-width: 100%;
  background-color:white;
  border-radius: 25px;
  box-shadow: 0 10px 10px 0 rgba(81, 6, 14, 0.05);
}

.right-bubble{
  min-height: 37px;
  box-shadow: 0 10px 10px 0 rgba(81, 6, 14, 0.1);
  border-radius: 25px;
  background-color: #F25656
}

.message-body{
  font-size: 14px;
  margin: 10px;
  word-wrap: break-word;
}

.time-stamp{
  font-size: 10px;
  text-align: center;
  color: #d1bdbc;
  margin-top: 10px;
  margin-bottom: 5px;
}

/* typing indicator */
.typing-indicator{
  height: 25px;
}

.indicator-showing{
  font-size: 14px;
  margin-left: 20px;
  color: #A18684;
}


















/* end */
