.screen {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  background-color: #f7edf3;
  height: 100vh
}

.chat-view{
  background-color: #fcfcfc;
  height: 90vh;
  width: 45vw;
  margin-top: 20px;
  border-radius: 5px;
}
